/* 
    Created on : Jan 23, 2016, 5:21:48 PM
    Author     : John
*/

body {
    background-color: #962D91;
    margin: 1% 7% 7% 2%;
}

header {
    text-align: center;
}

header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    text-align: center;
}

.container { 
    position:relative; 
    padding:0 0 0 55px; 
}

#moreInfo {
    display:none;
}
footer {
    background-color: #E1D444;
}

#mainImg {
    text-align: center;
}

#assignmentsImg {
    text-align: center;
}

#mainImg img {
    width: 225px;
    height: 300px;
    border: 10px;
    border-style: solid;
    border-color: #E1D444;
}

#assignmentsImg img {
    width: 300px;
    height: 225px;
    border: 10px;
    border-style: solid;
    border-color: #E1D444;
}

.topImg {
    text-align: center;
}

.topImg img {
    width: 300px;
    height: 225px;
    border: 10px;
    border-style: solid;
    border-color: #E1D444;
}

h1 {
    font-family: "Georgia";
    font-size: 60px;
    color: #99E161;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

h2 {
    font-family: "Verdana";
    font-size: 45px;
    color: #E1D444;
    text-shadow:
    -1.5px -1.5px 0 #962D91,
    1.5px -1.5px 0 #962D91,
    -1.5px 1.5px 0 #962D91,
    1.5px 1.5px 0 #962D91; 
}

h3 {
    font-family: "Verdana";
    font-size: 30px;
    color: #E1D444;
    text-shadow:
    -1.5px -1.5px 0 #962D91,
    1.5px -1.5px 0 #962D91,
    -1.5px 1.5px 0 #962D91,
    1.5px 1.5px 0 #962D91; 
}

section {
    background-color: #99E161;
    padding: 2%;
}

div.padder {
    padding: 2% 2% 2% 5%;
}

a.bottom-link {
    border: 10px;
    border-style: solid;
    border-color: #E1D444;
    text-decoration: none;
    font-size: 32px;
}

#copyright {
    font-size: 15px;
}

#assignments {
    border-style: none;
    text-decoration: underline;
    font-size: 15px;
}

#vocab img {
    height: 25%;
}